[2020-03-09 15:54] gibahjoe opened #3 "Cannot specify url in input spec"
Input spec right now validates against file directory which should not be since it supports url input

[2020-03-10 22:24] gibahjoe commented on #3
close #

[2020-03-10 22:24] #3 closed

[2020-04-03 17:29] gibahjoe opened #5 "Incorrect openapi log message"
When I set the alwaysRun variable to false, the generator prints the following log when i run the below command

`flutter pub run build_runner build --delete-conflicting-outputs`

the message is

`openapigenerator skipped because alwaysRun is set to **[true]** and ../project/lib/api.dart already exists`

the 'true' should be 'false'

[2020-04-04 15:04] gibahjoe commented on #5
fixed in version 1.0.6

[2020-04-04 15:04] #5 closed

[2020-05-10 14:58] andrijailic opened #6 "Generator not working on Windows platform"
When i start generator as described in documentation i get:

[code]

Seems like "${"${binPath.path}"}" in openapi_generator_runner.dart generates wrong jar path on Windows platform.

My observation may be wrong since i am really new to Flutter and Dart, but when i manually compose all outputs from plugin, and remove leading "/" in jar path and run it in terminal - all seems to work just fine.

[2020-05-10 19:00] gibahjoe commented on #6
Hello @andrijailic ,

Thank you for opening this issue.

I will look into it.

Thanks once again

[2020-05-10 22:16] gibahjoe commented on #6
Hi @andrijailic

A fix has been published.

Check pub.dev for the latest version (1.0.8) and check if its fine now.

Thanks

[2020-05-13 12:12] sherifhasan opened #7 "Can this library used to generate model classes from swagger.json"

[2020-05-13 12:19] gibahjoe commented on #6
Closing this for now. Dont hesitate to open again if its not resolved

[2020-05-13 12:19] #6 closed

[2020-05-13 15:07] gibahjoe commented on #7
While this library has not been tested with Swagger v.2.0, I believe it should work out of the box. However, if you are having trouble with it, for more compatibility, you might want to convert your v2 spec file to OpenApi v3. You can try this website to help do that https://openapi-converter.herokuapp.com/

Let me know if you need further assistance

[2020-05-16 01:18] andrijailic commented on #6
It works now, thanks :)

[2020-06-04 22:57] #7 closed

[2020-06-20 18:44] agilob opened #8 "Enum generated as string without vailidaing allowed options"
I'm either incorrectly using it, or the package doesn't generate enums correctly.

I have this component:

[code]

This is generated as:
[code]

where enum exists, but it's not used to validate if passed string is allowed.

Do I need to use:
[code]

If so, where do I set them? An example in documentation would be helpful.

[2020-06-20 19:14] agilob commented on #8
Nvm, I thought this is repo for https://openapi-generator.tech/docs/generators/dart/ but pubdev package :D

[2020-06-20 19:18] #8 closed

[2020-06-20 19:56] gibahjoe commented on #8
No worries.

[2020-07-10 07:58] long1eu opened #9 "App Store Connect Api has a lot of syntax bugs"
Hi!

I tried to build the App Store Connect Api but the are some issues with the syntax that gets generated.
Can you have a look?

[app-store-connect-openapi-spec.json.zip](https://github.com/gibahjoe/openapi-generator-dart/files/4901795/app-store-connect-openapi-spec.json.zip)

[2020-07-12 09:25] gibahjoe commented on #9
Hello @long1eu ,

thanks for reaching out. Please provide more information on the syntax issues you encountered.

Also, the spec you provided is not valid and has some errors.
Try to validate it on https://editor.swagger.io/

Let me know if you need further assistance.

[2020-07-12 09:34] long1eu commented on #9
I understand. The spec is from Apple.
https://developer.apple.com/sample-code/app-store-connect/app-store-connect-openapi-specification.zip

On Sun, 12 Jul 2020 at 12:25, gibahjoe <notifications@github.com> wrote:

[2020-08-08 23:34] #9 closed

[2020-08-09 15:59] long1eu commented on #9
thanks for your work

[2020-08-09 21:38] gibahjoe commented on #9
No problem

[2020-08-16 11:20] bandirsen opened #11 "is deepObject supported yet ?"
I wonder if deepObject already supported by this generator

I'm trying with this spec :
path:
[code]
component:
[code]

the generated client api is like this:

[code]

As openapi specification 3, the api request should be like this
`http://localhost/api/v1/users?filter[name]=XXX&filter[email]=yyy@yyy.com&pagination[limit]=10&pagination[offset]=0`

but I got this from generator, which is an invalid

[2020-08-16 13:59] gibahjoe commented on #11
Hello @bandirsen

what generator are you using?

[2020-08-16 15:25] bandirsen commented on #11
I'm using dart-dio

[2020-08-17 12:53] gibahjoe commented on #11
Hi @bandirsen ,

Deep objects are not supported yet, you can create an issue on https://github.com/OpenAPITools/openapi-generator/issues.

As a quick fix, you can try writing a dio interceptor to convert the request to the format you want. I haven't tried this but it should work.

Let me know if you need further assistance

[2020-08-17 18:08] bandirsen commented on #11
Hi @gibahjoe
Thanks for information,
Like your suggestion, for now I just little modification on generated api, and all fine.

I'm closing this issue.

[2020-08-17 18:08] #11 closed

[2020-08-18 14:37] frameset opened #12 "[Feature Request] Option to use the beta version of the generator"
I would like to have the option to use the beta 5.0.0 openAPI generator instead of the stable release.

There are many new features in the beta release and it would be great to be able to test them and still use this convenient dart package you have created.

[2020-08-19 15:26] dustin-graham opened #13 "skipValidateSpec annotation property is not used by the generator"
I looked through openapi_generator_runner.dart and I can't see an instance where this property from openapi_generator_annotations_base.dart is used. Is this an omission, intentional, or is is used some other way?

[2020-08-20 11:06] gibahjoe commented on #13
Hello

[2020-08-20 11:09] gibahjoe commented on #12
Hello @frameset ,

This is already in the works and is due for release this weekend. Thank you.

[2020-09-14 18:40] dividebyzero opened #16 "v1.1.X has dependencies that are incompatible with current flutter version"
running pub get gives me errors
"Because every version of flutter from sdk depends on meta 1.1.8 and generic_reader >=0.1.1 depends on meta ^1.2.2, flutter from sdk is incompatible with generic_reader >=0.1.1.
And because openapi_generator >=1.1.0 depends on generic_reader ^0.1.5, flutter from sdk is incompatible with openapi_generator >=1.1.0."

switching to 1.0.8 resolves it. what do you need ge

[2020-09-19 13:43] gibahjoe commented on #16
Hi. Version 1.11 introduced using enums for more type safety. Generic reader is a library that is used to read the enum values during source gen.

Anyway, I expected flutter sdk to have updated by now but since it's taking them a while, I will look into alternatives. Thanks

[2020-09-22 08:53] robertcsakany opened #17 "Flutter pub get after generation on widows fail"
We have a project where 2 YAML file used for generation inside a project lib directory. We would like to use the generated files only not as a whole project - so we have all of required DIO/Dart-generator definition in our root pubspec. The generation is fine and in mac/linux everything is fine.

The problem is with this code block:

[code]

I'm not sure what is the root, the flutter is installed

[2020-09-27 12:41] niklaskolloge opened #18 "Expected Identifier Error"
Hi,

I get the following error here:

[INFO] Running build...
[INFO] Generating SDK summary...
[SEVERE] openapi_generator:openapi_generator on lib/ApiConfiguration.dart:

Bad state: Unexpected diagnostics:
C:\flutter\bin\cache\dart-sdk\lib\core\uri.dart:3259:39 - Expected an identifier.
[INFO] Running build completed, took 820ms

[INFO] Caching finalized dependency graph...
[INFO] Caching finalize

[2020-09-28 00:44] robertcsakany commented on #18
I had similar issues, when I clean flutter dart cachce directories, run pub get and generation build everything become fine.

[2020-09-28 19:51] robertcsakany opened #19 "Builder Clean support"
Is there any way to remove generated files with the build runner clean - like other builder supported genrators?

[2020-10-04 03:50] gibahjoe commented on #19
Hi @robertcsakany,

Because this generator generates project files using an external java library, it might not be possible to hook into build_runner clean, to the best of my knowledge. Please tell me a use case for this and i can find a workaround or better still, a PR will be most helpfull

[2020-10-04 03:56] gibahjoe commented on #18
@niklaskolloge ,

This looks like its not an error specific to this library. Closing this for now.

[2020-10-04 03:56] #18 closed

[2020-10-04 11:33] robertcsakany commented on #19
Okay, thanks. I will investigate this. I think if we are able to collect a file list from openAPI generator which files are affected with generaration on that case its possible to calclulate the clean step.

[2020-10-04 12:45] gibahjoe commented on #16
Flutter sdk has been updated. This should no longer be an issue. Closing for now.

[2020-10-04 12:45] #16 closed

[2020-10-04 12:46] gibahjoe commented on #17
fixed with #21

[2020-10-04 12:46] #17 closed

[2020-12-11 15:57] markbeij opened #23 "Syntax error in generated code"
I'm currently experiencing a problem with the generator as the code that is produced can not be build.
I have narrowed it down to the following:

swagger definition:
[code]

It produces a class `GeocodedWaypoint` with the following property:
`GeocodedWaypointTypesEnum types = GeocodedWaypointTypesEnum.[];`

* generatorName: Generator.DART2_API
* openapi_generator: ^1.1.3
* openapi_generator_annota

[2020-12-11 16:00] markbeij commented on #23
Also here's the output from flutter doctor
[✓] Flutter (Channel stable, 1.22.4, on Mac OS X 10.15.7 19H2 darwin-x64, locale en-NL)
    • Flutter version 1.22.4 at /Users/mbeij/DEV/flutter
    • Framework revision 1aafb3a8b9 (4 weeks ago), 2020-11-13 09:59:28 -0800
    • Engine revision 2c956a31c0
    • Dart version 2.10.4

[✓] Android toolchain - develop for Android devices (Android SDK version 29

[2020-12-12 02:18] gibahjoe commented on #23
Hello @markbeij , this seems to be an issue with the dart2 generator. This library is just a wrapper around the openapi generator libraries.

Here is the dart2 library repo where you should create an issue. https://github.com/dart-ogurets/dart-openapi-maven/issues

Meanwhile, you could try the dio generator. It works well without problems.

Closing this for now. Let me know if you need further ass

[2020-12-12 02:18] #23 closed

[2020-12-12 02:24] gibahjoe commented on #23
You can track this issue here

https://github.com/dart-ogurets/dart-openapi-maven/issues/19

[2020-12-15 01:02] harsimranmaan opened #24 "Does this support null-safety?"

[2020-12-15 19:13] gibahjoe commented on #24
No not yet. But an update is scheduled for this weekend that will support it

[2020-12-15 21:06] harsimranmaan commented on #24
Lemme know if I can help in any way

[2020-12-21 14:47] gibahjoe commented on #24
Null safety has been added

[2020-12-21 14:47] #24 closed

[2020-12-22 19:46] bartektartanus opened #25 "Update openapi-generator to version 5"
Currently used version 4 does not support full args constructor generation. Bumping to version 5 will solve this issue.
More info here: https://github.com/OpenAPITools/openapi-generator/issues/8092

[2020-12-27 19:50] gibahjoe commented on #25
Hi,
Thanks for the heads up. Updated to 2.0.0.

Happy holidays

[2020-12-27 19:50] #25 closed

[2020-12-28 03:28] harsimranmaan opened #26 "Package generation does not support null-safety"
Relates #24

[2020-12-28 03:41] harsimranmaan opened #27 "DART2_API generator fails for v2.0.0"
[code]
See: https://github.com/bigpanther/trober/pull/92/checks?check_run_id=1614823203 for full run.

DART, DART_DIO and DART_JAGUAR all work fine (at least for generation)

[2020-12-28 03:45] gibahjoe commented on #27
Hi, thank you for raising an issue.

What version of the are you using? Also, can you provide a minimal spec that has same issue?

[2020-12-28 03:57] gibahjoe commented on #27
Sorry, I just read your title. Your version is 2.0.0.

I think the issue is that the Dart2_api has not implemented the changes in Openapi generator v5 which had a lot of breaking changes. If this worked previously, please downgrade to an earlier version that worked (2.0.0-nullsafety.0)

[2020-12-28 04:00] gibahjoe commented on #26
Hi,

Thank you for raising an issue. There is a null safety version already existing `2.0.0-nullsafety.0`
If you are in a hurry, you can use that without the ^ so that it doesn't fetch 2.0.0 instead.

I am working on updating it.

Happy holidays.

[2020-12-28 04:21] gibahjoe commented on #26
Versions `3.0.0-nullsafety.1` have been published

Let me know if you have any issues

Regards

[2020-12-28 04:21] #26 closed

[2020-12-28 04:23] harsimranmaan commented on #27
Just curious, why are you using the cli jar from dart-ogurets/dart-openapi-maven instead of the default openapicli? It seems to have dart2 support too.

[2020-12-28 04:24] harsimranmaan commented on #26
Sorry I meant, null safety for generated packages and not the package itself

[2020-12-28 04:31] gibahjoe commented on #27
Yes, it does have dart2 support, that is what the `DART` generator name is.

Openapi generator Dart2 support used to be very lacking and buggy. Thats when the `dart-ogurets/dart-openapi-maven` was added.

So, `DART` is still dart2. Its the official openapi generator while `dart-ogurets/dart-openapi-maven`  is an addon

[2020-12-28 04:33] harsimranmaan commented on #26
I am not in a rush. This can wait as I have plenty on plate to upgrade other dependencies. But at some point, it would be nice to have null-safety support for the generated sdk.

[2020-12-28 04:36] harsimranmaan commented on #27
Makes sense. Thanks.

[2020-12-30 15:53] BeliliFahem opened #28 "generator fails for v2.0.0 and 3.0.0-nullsafety.1"
[WARNING] openapi_generator:openapi_generator on lib/com/muqel/config/OpenapiGenConfig.dart:
Executing command [generate -i lib/muqel-openapi.yaml -g dart2-api -o api/muqel_api --additional-properties=pubAuthor=Belili Fahem,pubName=muqel_api]
[INFO] 2.8s elapsed, 56/57 actions completed.
[WARNING] openapi_generator:openapi_generator on lib/com/muqel/config/OpenapiGenConfig.dart:
[code]

[WARNING]

[2020-12-31 00:44] BeliliFahem opened #30 "Impossible to set legacyDiscriminatorBehavior property to false"
Impossible to set legacyDiscriminatorBehavior property to false.

I think this cause problem with 'anyOf', 'oneOf' ... schemas.

### Example :
**part of open api :**
[code]

**part of generated api :**
[code]

**PROBLEM** : AnyOfClassAaClassBb does not exist !

No problem for typescript/angular :
`    public searchWhatWhoByKeyword(language?: string, keyword?: string, observe?: 'body', reportProgre

[2020-12-31 06:59] gibahjoe commented on #28
Hello @BeliliFahem,

Season greetings.

This is a known issue with the dart2_api generator and is being tracked here https://github.com/dart-ogurets/dart-openapi-maven/issues/20

A work around however is to downgrade to version ```1.14``` or use the ```DART``` generator. They are very similar in functionality

duplicate of #27

[2020-12-31 06:59] #28 closed

[2021-01-02 16:49] agilob opened #31 "Dart1 support has been removed from openapi-generator, there's only Dart 2 now"
Dart 1 support has been removed from openapi-generator, there's only Dart2 now. Generator name `dart` refers to previous dart2. What used to be dart2 is now just `dart`

You can remove `DART2_API` from Generator:

[code]

supportDart2 flag has been removed too

Related:

https://github.com/OpenAPITools/openapi-generator/issues/7561

https://github.com/OpenAPITools/openapi-generator/pull/7568

[2021-01-02 16:51] agilob commented on #27
There is no name `dart2` generator now https://github.com/gibahjoe/openapi-generator-dart/issues/31. `dart2` has replaced `dart`

[2021-01-13 11:30] mattia-venturini opened #32 "Problems with the CLI command: console closes with no output"
I wanted to use **openapi_generator_cli** (version 2.0.0), so I followed the instructions given on the README.

On Windows, after activating the package using `pub global activate openapi_generator_cli`, the execution of the command `openapi-generator` in the console have some problems: the console closes immadiately without any output. Do you know why?

Another question: why don't you allow to us

[2021-01-14 05:46] gibahjoe commented on #32
Hi, thank you for bringing this to my attention. I will take a look at it.

[2021-01-16 13:47] ismanong commented on #30
![image](https://user-images.githubusercontent.com/13862699/104813384-db494f80-5843-11eb-9c44-d417d7e5f437.png)
![image](https://user-images.githubusercontent.com/13862699/104813401-fae07800-5843-11eb-82db-88de3ca9f225.png)
![image](https://user-images.githubusercontent.com/13862699/104813451-50b52000-5844-11eb-8a67-881f5941cd04.png)
There has been a problem, but I'm not sure whether to fix it or

[2021-01-16 14:28] mikthemonster opened #33 "Code not updating when API changes"
Hi.

I have successfully created flutter/dart client code for my .net core API based on my "API.yaml" file (open API 3.0.0).

When I change my API and supply a new API.yaml file with the updated API my code is NOT re-generated. How can I trigger a re-generation?

This is the command I run in my flutter project and the output:
PS C:\Dokumenter\MyFirstFlutterApp\myfirstapp> flutter pub run build_run

[2021-01-16 16:06] gibahjoe commented on #33
Build runner will only trigger builds on files that have changed since the last time it has run.

In other to get around this, you will have to change something in the file where your annotation is.

What I do is just add a full stop to the `pubAuthor` property in `additionalProperties` then try again.

[2021-01-16 16:11] gibahjoe commented on #30
@BeliliFahem

What generator are you using?

[2021-01-16 16:12] gibahjoe commented on #30
@ismanong

I do not understand your issue. Is it related or the same issue as reported in the parent comment?

[2021-01-16 20:28] BeliliFahem commented on #30
@gibahjoe this is my conf

[code]

[2021-01-17 09:06] mikthemonster commented on #33
Thaks, it is working now :-)

I ended up adding two "flags" (alwaysRun and overwriteExistingFiles) in the configuration and then then the code is generated when I do as you described. My openapi configuration looks like this:

@Openapi(
    alwaysRun: true,
    overwriteExistingFiles: true,
    additionalProperties:
        AdditionalProperties(pubName: 'petstore_api', pubAuthor: 'Johnny dep2'),

[2021-01-17 09:11] mikthemonster opened #34 "Which generator to use?"
Hi,

I just started using code generation for API in a flutter app. When I look at the different examples I notice different generators:

 - Generator.DART
 - Generator.DART2_API
 - Generator.DART_DIO
 - Generator.DART_JAGUAR

Does anyone know which to use or the difference? Or where to find this information :-)

[2021-01-17 10:37] #33 closed

[2021-01-17 11:32] mikthemonster opened #35 "Parsing Double values without decimals"
Hi,

My API (.net core 5.0) sometimes returns double values without the decimal point:

"totalPrice": 1

instead of:

totalPrice": 1.0

Unfortunately this gives an error:

type 'int' is not a subtype of type 'double'

Can I somehow fix this without changing the auto-generated files?

[2021-01-17 11:52] gibahjoe commented on #35
You can't try using the type mappings field to map int and double to num.

However, this is going to apply it throughout the generated code.

Other option will be to ensure the api returns the right type always

[2021-01-17 15:51] mikthemonster commented on #35
Hmmm, im not sure how to do that... Do you have an example or can you guide me?

The error is related to this line of autogenerated code:

totalPrice: json[r'totalPrice'],

It happens when totalPrice does not contain a "." (default behavior in .net core 5 when the double value does not contain any decimals)

[2021-01-17 21:33] gibahjoe commented on #35
The openapi annotation has a typeMappings property that takes a map of string. Add a mapping for int and double to num

[code]

[2021-01-17 21:36] gibahjoe commented on #34
Dart is the regular http that comes with flutter

Jaguar and dio are 3rd party libraries.

I personally use dio because it supports web ( I don't know if Jaguar has added web support)

[2021-01-17 21:41] gibahjoe commented on #31
`DART` generator here is actually Dart2 while `DART2_API` is a third party (not produced by the openapi guys) custom generator.

I will need to clean up the naming to avoid confusion in the future.

[2021-01-18 07:33] mikthemonster commented on #35
Thanks, its working! :-)

[2021-01-18 07:33] #35 closed

[2021-01-18 07:51] mikthemonster commented on #34
Thanks, I currently use DART.

[2021-01-18 07:51] #34 closed

[2021-01-24 19:37] gibahjoe commented on #32
Hello @mattia-venturini

You need to add the directory of your pub cache `flutter/.pub-cache/bin` to your path and then the command will run just fine.

If you have already done this, a PR is most welcome.

[2021-01-24 23:25] gibahjoe commented on #27
fixed in version v2.2.0

[2021-01-24 23:25] #27 closed

[2021-01-24 23:26] gibahjoe commented on #30
legacyDiscriminatorBehavior has been added in v2.2.0

[2021-01-24 23:26] #30 closed

[2021-01-26 22:47] johngray1965 opened #36 "Use MultipartFile.fromString to decode binary data"
It looks its very close to handling binary data now, but I still need mess with the code a little.

Namely I'm changing:
attachmentContent: null, // No support for decoding binary content from JSON
to:
MultipartFile.fromString('attachmentContent', json['attachmentContent']);

[2021-02-07 09:29] gibahjoe commented on #36
Hi,

You could send a PR to the main openapi generator tool https://github.com/OpenAPITools/openapi-generator.

[2021-02-07 09:29] gibahjoe commented on #36
Closing this as this is not an issue with this library but with the openapi tool itself

[2021-02-07 09:29] #36 closed

[2021-02-07 09:30] #31 closed

[2021-02-12 17:10] TimWhiting opened #37 "Server Stub"
Generate Server Stubs as well.

Here are the different servers packages that are commonly used in Dart I think:
* http
* angel
* aquaduct
* shelf

I see you already have Jaguar.
I'll probably just use that for now. But I'll leave this issue open, since a plain HttpServer Generator would be of interest to me.

[2021-03-08 06:51] LisaLamparter opened #38 "Code Generation stucks after Flutter 2.0 Upgrade"
Hi there,

I'm using the following version of your lib:
dependencies: openapi_generator_annotations: ^2.2.0
dev-dependencies: openapi_generator: ^2.2.0

After upgrading the flutter version to 2.0 the code generations stucks during "flutter pub run build_runner build" with the message
[code]

I am using this generator: **Generator.dio**

Any ideas how to solve this? Is there any working version in

[2021-03-08 17:53] petrleocompel commented on #38
This is not only for `Flutter 2.0` it's also on older version. Can confirm.

[2021-03-10 10:05] tiholic opened #39 "Target of URI doesn't exist: 'package:my_api/model/any_type.dart'."
Config:

[code]

With this config, I see the generated package shows this error:

`Target of URI doesn't exist: 'package:chartered_api/model/any_type.dart'.`

Tried using pure dart (`generatorName: Generator.DART`) that also throws the same error.

Also when DIO is chosen, the created dependencies are outdated.
This is list of dependencies that work with build runner (alongisde flutter 2.0)

[code

[2021-03-14 17:29] gibahjoe commented on #38
Hi, you can try overriding the dependencies in the `pub spec` and adding it to `.openapi-generator-ignore` so that it doesn't get overwritten in next generation

In pubspec.yaml,

[code]

At the end of .openapi-generator-ignore, add the pubspec
[code]

[2021-03-18 15:23] Plinzen opened #40 "Using Jaguar getting error: type 'Future<dynamic>' is not a subtype of type 'Future<List<Depot>>'"
We switched to flutter 2.0.1 recently and had to rerun our code generation.

We have setup the openapi generator with following data:

###pubspec.yaml:
[code]

###Configuration:

[code]

### Produced Output with new API
The produced output in the `api` package is now:

[code]

And the corresponding `.jretro` file:

[code]
The jretro file is returning `dynamic` now and when running the code the fol

[2021-03-19 18:57] Abhilash-Chandran commented on #38
Same issue here. Suggested option overriding analyzer version didn't help either.  😞 Would you recommend any other option.? I don't see any errors to even post them here. builder just keeps waiting on the generator dart file.

[2021-03-19 23:32] petrleocompel commented on #38
I guess ideal will be to wait on OpenAPITools/openapi-generator#8869 which will provide support  and solve this dependency problem.

I already tried it (compiled from source of forked repo) and worked really well.

I guess OpenAPITools/openapi-generator#8869 needs to be done first then here can be issue solved by updating dependency and defining new config / type of generator for Flutter 2

[2021-03-21 12:29] gibahjoe commented on #40
Hello, can you attach a minimal codebase that recreates this issue so that I can have a look.  Thanks.

[2021-03-21 12:34] gibahjoe commented on #38
Thats odd. My suggestion is exactly what works for me. I use same generator too.

Can you post the pubspec of the generated code and also your project pubspec?

[2021-03-21 12:42] gibahjoe commented on #38
If I wasn't clear, This should be done in the generated code

Step 1: configure the @Openapi annotation to skip source gen by setting `runSourceGenOnOutput` and `fetchDependencies` to `false`.
Step 2: run source gen to generate the api package.
Step 3: Apply changes mentioned above to the generated code.
Step 4: Also apply the dependency_overrides to your project's pubspec
Step 4: run source gen a

[2021-03-21 12:43] gibahjoe commented on #38
Also, Please update to version 3.0.2

[2021-03-21 12:46] gibahjoe commented on #39
Hello, please provide minimal reproducible code so that I can take a look at this.

Did the code generation complete? or was there an error in the terminal?

[2021-03-22 11:01] Abhilash-Chandran commented on #38
@gibahjoe Thanks a lot for your suggestions. I already tried directly manipulating the versions of dio and other to nullsafe versions in the generated pubspec and still faced issues with generated code targeting @dart=2.6.

I will check out your suggestions if it works for me. But nevertheless the null safe version of code generation is not in place if I understand correctly. As @petrleocompel sug

[2021-03-22 11:02] Abhilash-Chandran commented on #38
Now I see https://github.com/OpenAPITools/openapi-generator/pull/8869 is already merged.

[2021-03-22 11:58] gibahjoe commented on #38
Yes. I saw that late yesterday. I will release an updated version sometime this week.

[2021-03-22 19:01] Plinzen commented on #40
Hello,
thanks for your feedback.
Please find the example here, I hope it's sufficient for you to reproduce the issue:

[test_flutter.zip](https://github.com/gibahjoe/openapi-generator-dart/files/6184690/test_flutter.zip)

[2021-03-27 12:54] ILAgent opened #41 "Generate null-safe code"
I use the latest version (3.0.2) of the generator but generated code is for Dart 2.6 anyway. I expect to have null safe code as a result.

[2021-03-27 13:08] ILAgent commented on #38
Hello! What about update?
#41

[2021-03-29 21:47] gibahjoe commented on #38
version 3.1.* has been released

[2021-03-29 21:56] gibahjoe commented on #41
Hi, the latest version has null safety for did generator. you can try it out. I haven't used it though

[2021-03-30 11:12] Abhilash-Chandran commented on #41
I just upgraded to the new version and still the generated version is non-null safe. I suppose.

[code]

I am not sure if I am missing something.

[2021-03-30 17:23] Abhilash-Chandran commented on #41
I checked the jar file in the openapi-generator-cli, and it has a folder dart2-v3template which is not present in jar files from the main openapi repository. By any chance are we missing a parameter to be sent so that the generator uses dio version 4.0.0 with null safety..?

[2021-03-30 21:03] Abhilash-Chandran commented on #41
I think I found the issue with issue the new dart-dio-next config is missing. I suppose. I used the npm version of the generator with version 5.1.0 with dart-dio-next. It worked ...

[2021-03-30 21:11] gibahjoe commented on #41
Hi, thanks for looking into it. Are you saying there is a new generator name to generate bill safe code?

[2021-03-30 21:16] Abhilash-Chandran commented on #41
I think so.. Check this https://openapi-generator.tech/docs/generators/dart-dio-next/ out.

[2021-03-31 21:30] ILAgent commented on #41
Just forked and checked it out. The value `dart-dio-next` instead of `dart-dio` produces null-safe code!

[2021-04-01 09:37] Abhilash-Chandran commented on #41
As per the documentation `dart-dio-next` is still experimental. Perhaps this could also be exposed as an experimental generator.

[2021-04-04 14:47] gibahjoe commented on #41
I will add it to a pre-release. thanks

[2021-04-10 08:18] tiholic opened #42 "Invalid generation for integer enum"
Expect `@BuiltValueEnumConst(wireName: 0)` to be generated as `@BuiltValueEnumConst(wireNumber: 0)`

schema
![image](https://user-images.githubusercontent.com/14252381/114263469-3d5cbf80-9a03-11eb-98a4-755f8502d97b.png)

generated model
![image](https://user-images.githubusercontent.com/14252381/114263463-3635b180-9a03-11eb-860c-731acc05470c.png)

[2021-04-10 12:48] gibahjoe commented on #42
Hi, What version of the library are you using?

[2021-04-12 11:31] tiholic commented on #42
`1.1.4`

FYI:
Tried installing latest version `3.1.2` but that seems to have conflicts with `flutter_form_builder`

[code]

[2021-04-21 09:27] vladaman opened #43 "AnyOf and OneOf methods are not generated in 3.1.2"
Generator version 3.1.2 generates source code but OpenAPI features such as anyOf or allOf don't get generated

Yaml:
[code]

![Screenshot from 2021-04-21 11-22-26](https://user-images.githubusercontent.com/907206/115530301-ecb35500-a293-11eb-8751-fe4d839fc705.png)

[2021-04-21 09:39] vladaman opened #44 "Generator dio fails with error - Null context for variable '.'"
Dio generator fails with following error. Generator.dart generates code properly.

[code]

[2021-05-04 20:18] mikthemonster opened #45 "Support for http ^0.13 (Generator.dart)"
If I update http in pubspec.yaml form http: ^0.12.2 to http: ^0.13.3 I get the following error:

-----------------------
lib/api/ShoppingApiOutFolder/lib/api_client.dart:113:13: Error: The argument type 'String' can't be assigned to the parameter type 'Uri'.
 - 'Uri' is from 'dart:core'.
------------------------

I can solve the problem by updating a few lines in api_client.dart from    "url" to

[2021-05-05 08:41] mikthemonster opened #46 "How to set "client.withCredentials = true" in Cross Platform flutter project?"
Hi,

I am building a Flutter application for IOS, Android and Web. When the application runs on "Web" I have to include the following code to make cookies work:

[code]

Unfortunately the import statement (import 'package:http/browser_client.dart';) gives an error when compiling for Android:

--------------
Launching lib\main.dart on sdk gphone x86 arm in debug mode...
lib\main.dart:1
/C:/src/flut

[2021-05-05 09:22] mikthemonster commented on #46
I found a working solution:

[code]

[2021-05-05 09:22] #46 closed

[2021-05-07 08:07] atoka93 opened #47 "Support build versions above 2.0.0"
The latest version of the `build` package is `2.0.1`.
Another package that I am using is relying on it already which makes it incompatible  with `openapi_generator`.

If it's possible and not too much trouble it would be great if you could increase the limit.

[2021-05-15 20:58] malaschitz opened #48 "type 'int' is not a subtype of type 'double'"
There is a serious problem (bug). I have property of type _double_. Sometimes API return json, where double value is whole number. openapi-generator at first create Map<String,  dynamic> object, and this property has type _int_ (when it is whole number). In next step is calling constructor _fromJson_ where is this value from map set to double type. Flutter throws exception **type 'int' is not a su

[2021-05-15 21:08] gibahjoe commented on #48
Hi,

Please try this solution #35. Closing as duplicate, feel free to reopen.

[2021-05-15 21:08] #48 closed

[2021-05-15 21:10] gibahjoe commented on #44
Hello, if this is not too late, please provide the spec to recreate the issue and the generator version

[2021-05-15 21:28] gibahjoe commented on #32
Closing because no clear next steps

[2021-05-15 21:28] #32 closed

[2021-05-16 12:35] gibahjoe commented on #38
Closing this because no clear next steps. Feel free to reopen

[2021-05-16 12:35] #38 closed

[2021-05-16 13:12] gibahjoe commented on #47
Updated in release 3.1.3

[2021-05-16 13:12] #47 closed

[2021-05-16 15:19] malaschitz commented on #48
I do not like this workaround. It could by a source of ugly bugs.

[2021-05-16 15:27] gibahjoe commented on #48
Maybe but not necessarily depending on how you handle it. You can add checks to test if it's double or int before using it.

The other option will be to fix the api to make sure your api returns the right value for double and int.

[2021-05-16 15:28] gibahjoe commented on #48
What version of the library are you using? And what flutter version? If you can also provide a minimal spec so that I can reproduce the error.

[2021-05-16 15:40] malaschitz commented on #48
I have flutter 2.0.6 and openapi_generator: ^3.1.2.
Probably best convenient is workaround where is used: `typeMappings: {'double': 'num'}`. There is no need change mappings for int values.

[2021-05-16 16:06] gibahjoe commented on #48
Yeah. This should work too

[2021-05-17 08:59] atoka93 commented on #47
Great, thanks! 😃

[2021-05-22 13:56] kishoresahas opened #49 "Could not find package "build_runner". Did you forget to add a dependency?"
When am running the below,
`flutter pub run build_runner build --delete-conflicting-outputs`

![image](https://user-images.githubusercontent.com/5591712/119228987-5644ae80-bb33-11eb-8e80-8711483e9a1c.png)

Does this require build_runner to be added to `.\openapi-generator-dart\openapi-generator\pubspec.yaml` or `.\openapi-generator-dart\openapi-generator\example\pubspec.yaml`

[2021-05-22 20:24] gibahjoe commented on #49
Hi. You need to add build runner to your dependencies in your project because the command flutter pub run build_runner build --delete-conflicting-outputs uses that.

[2021-06-02 11:47] malaschitz commented on #41
Because there is still this problem (code is generated with @dart=2.7) I start my app with --no-sound-null-safety option. Is there some another workaround ?

[2021-06-16 12:57] jbx1 opened #50 "Cannot upgrade app to http 0.13.3 due to outdated `dio` and `openapi_dart_common` generated dependencies and incompatible generated API"
When trying to use in an app that needs to use the latest `http ^0.13.3` this generator does not work.

[code]

The problem is not just with upgrading the generated `pubspec.yaml`.

When one tries to upgrade `dio` manually to 4.0.0, because then the following problem occurs:

[code]

The latest version of openapi_dart_common is actually 4.1.0  which solves the `pub get` issue.

But then, the gener

[2021-06-18 18:35] malaschitz commented on #50
My workarounds for http 0.13.3 is change `uri,` to `Uri.parse(uri),` in generated api_client.dart
I have it in my shell script with command `sed`.

[2021-06-19 06:12] jbx1 commented on #50
I don't think my problem is the same, because I am using dioAlt generator. I could fix these errors and change the call to use `response.body` in the generated code but then regenerating the first would just overwrite these changes.

Having a look at the `ogurets` code, it seems something to do with nullsafe because the template is selecting dio 4.0.0 and openapi_dart_common 4.1.0 in case of nulls

[2021-06-22 12:25] StNebel commented on #41
what about the null safety code? Do you have any questions about how it can be installed? @gibahjoe

[2021-06-23 12:59] StNebel commented on #50
@gibahjoe can you upgrade dep to latestest version? s.b. need it + me. thx

[2021-06-26 12:45] abianche commented on #43
@vladaman did you actually find a way to resolve this? I think that's because of Dart which doesn't support type unions. Or was such a function generated in previous versions?

[2021-06-30 14:37] FlorianArnould opened #51 "Could it be possible to have full project example ?"
Hi, thank for your work.
I'm coming from  the web dev and I'm developping a flutter which will integrate an existing ecosystem with a react.js frontend and a ASP.NET backend.
On this project, we use the **API First development** flow, so the openapi spec is designed at first and the code is generated on each side using generators (NSwag for ASP.NET, OpenApi generator cli for React and this project

[2021-07-04 11:34] gibahjoe commented on #51
Hi.
The way around this is that you need to commit just the `pubspec.yaml `of your api project to the repo.

That way, anyone who pulls the code pulls it to and you can run `pub get` before generating the api project.

[2021-07-04 11:35] gibahjoe commented on #51
Fell free to open this issue if you have further questions

[2021-07-04 11:35] #51 closed

[2021-07-04 11:36] gibahjoe commented on #43
Hi, as @abianche said, dart does not support type unions unfortunately. So the way to go in this case will be to use `dynamic` or `object` instead.

[2021-07-04 11:39] gibahjoe commented on #50
@jbx1 You can try using various dependency_overides to get around the original issue.

[2021-07-04 11:40] gibahjoe commented on #50
@StNebel I will upgrade the versions and publish soon

[2021-07-04 12:14] gibahjoe commented on #41
@malaschitz , The dart did next generator was added to the available generators in the last release. From my understanding this generator generates null safe code.

Please try it out.

[2021-07-04 12:16] gibahjoe commented on #41
@StNebel Setting the generator property of the config uses the null safe duo generator

[code]

[2021-07-04 21:32] jbx1 commented on #50
To be able to use http 0.13.3 and the other dependencies in a more recent version, I need the generator to generate code and pubspec.yaml that uses the newer version. The dioAlt generator (dart-ogurets dart2-api) actually has a flag, `nullSafe`, that when set it will use the most recent versions of the libraries in its pubspec.yaml and generate code that is nullsafe. It also has another one about

[2021-07-06 08:39] gibahjoe commented on #50
Do you have a link to where this is documented so that I can read more about it and update the library soonest?

[2021-07-06 11:05] jbx1 commented on #50
Yes, the properties are mentioned here: https://github.com/dart-ogurets/dart-openapi-maven

If you look here in their code, you will see that when `nullSafe` is turned on, they generate the pubspec.yaml with  `dio: '^4.0.0'` and `openapi_dart_common: ^4.1.0`  while when it is not it generates it with ` dio: '>=3.0.10 <4.0.0'` and  `openapi_dart_common: ^3.2.0` which then conflicts with the other d

[2021-07-10 14:18] abianche commented on #43
Is this something where a PR would make sense. Getting rid of all AnyOf and similar, and replace them with dynamic basically?
Would it be possible to then infer the type, using "value is MyClass" statements?

[2021-07-13 07:55] malaschitz commented on #41
@gibahjoe Thanks ! I used `generatorName: Generator.dart` but with `generatorName: Generator.dioNext` is everything all right (but I must rewrote some part of my app). I had some problem with generate code but with this script is everything ok:

[code]

[2021-07-19 07:57] alevinetx commented on #41
I ran this with the dart-dio-next, and minus one issue (import on API classes missing ```package:built_value/json_object.dart```), which I haven't opened an issue on yet, all works fine.

However, is built_* the only serialization option available? As nice as immutability is a nice feature, it's a massive pain when passing and manipulating any graph deeper than one level; I think I'm about to cry.

[2021-07-19 08:00] mzdm commented on #41
I like this one https://github.com/epam-cross-platform-lab/swagger-dart-code-generator (the only downside is that it does not support all types, such as Uint8List https://github.com/epam-cross-platform-lab/swagger-dart-code-generator/issues/116) but it is maintainted

[2021-07-19 08:07] alevinetx commented on #41
thanks for that recommendation, @mzdm !

I think I may look at just updating the ```dart``` generator templates to add a ? to all the var types, etc.  This may be the quickest path over updating way too many object manipulations.

[2021-07-22 09:31] Firetrip opened #52 "Compatible with json_serializable"
I am trying to use this package together with the common json_serializable and json_annotation packages (https://pub.dev/packages/json_serializable, https://pub.dev/packages/json_annotation).

However, I am unable to find a way how to the implement a toJSON and fromJSON for the classes generated by openapi-generator-dart. There seems to be an internal implementation, but I cannot access it.

Is th

[2021-07-22 09:58] gibahjoe commented on #52
Hi, the duo generators make use of BuiltValue. So, what you are interested in is how to generate json from built value.

You can use some thing like this var

[code]

You can read more about it here https://stacksecrets.com/flutter/json-serialization-in-dart-flutter-with-built_value

Note that you do not need to build your own serialisers as the generated sdk already comes with it.

[2021-07-22 11:05] Firetrip commented on #52
Thanks! I was looking for that! :)

[2021-07-22 11:05] #52 closed

[2021-07-22 20:47] flodaniel opened #53 "serializers.deserialize fails for Nullable Types such as String?"
When trying to deserialize an generated Object with the following code, I get an error, that Null cannot be cast to String.
`serializers.fromJson<User?>(User.serializer, json)`

The error:
`
Unhandled error Unhandled error Deserializing '[id, 10, firstName, a5, lastName, a5, email, a5@gmail.com, password, null, cr...' to 'User' failed due to: type 'Null' is not a subtype of type 'String' in type c

[2021-08-25 08:20] wibtu opened #54 "Build_runner generates no code for dart"
Hey everybody,

I'm using AndroidStudio Arctic Fox and trying to use this plugin to generate a openapi-sdk for dart 2.13.4 and tried differents approaches in my project, even the petstore example from openapi-generator, but after executing

`
flutter clean
flutter pub get
flutter packages pub run build_runner build --delete-conflicting-outputs`

I only get [INFO] Succeeded after 54ms with 0 output

[2021-08-25 08:33] gibahjoe commented on #54
Hello, please update to the latest version.

Also, can you post your annotated class? See read me for more details

[2021-09-09 14:47] mars3142 opened #55 "Feature Request: info version"
My OpenAPI json does include a property **info->version**.

Is it possible to expose the info data within the generated classes? I need it to send it to my backend for frontend, so we can create a versioned API.

I would like to create a PR, if someone point me into the right direction, where I can add this.

[2021-09-11 11:22] gibahjoe commented on #55
Hi, could you please elaborate on this?

[2021-09-11 13:10] bobwith2bees opened #56 "List of enumerated types errors with... isn't a type so it can't be used as a type argument."
Just kicking the tires on the flutter package, trying to build an early version of the rarible protocol.  (So the protocol.yaml is also a suspect.)

I see two flavors of errors, focusing on one for now.
error: The name 'xxxxEnum' isn't a type so it can't be used as a type argument.

I think this is an example-
https://ethereum-api.rarible.org/v0.1/doc#tag/nft-order-activity-controller

It appears

[2021-09-11 15:51] gibahjoe commented on #56
Hi, What version of the library are you using?

[2021-09-11 21:59] bobwith2bees commented on #56
This should match the debug, the repo may be set to just Generator.dart.
--
  openapi_generator_annotations: 3.2.0
  openapi_generator: 3.2.0+2
--
@Openapi(
    additionalProperties: AdditionalProperties(
      pubName: 'rarible',
      pubAuthor: 'rarible.org',
    ),
    inputSpecFile: 'example/rarible_ethereum_api_v0.1.yaml',
    generatorName: Generator.dioNext,
    outputDirectory: 'api/rarib

[2021-09-11 22:03] bobwith2bees commented on #56
![image](https://user-images.githubusercontent.com/81196211/132962644-a6bbe2b7-576b-4cd7-8255-697cf35b3617.png)

[2021-09-12 11:07] gibahjoe commented on #56
Hi, having looked into this, the issue is with the generator not generating List of enums correctly.

I have raised an issue with the Openapi generator library authors [here](https://github.com/OpenAPITools/openapi-generator/issues/10382#issue-994127410).

I have also downloaded and modified the spec to work using a work around I found
[openapi.yaml.zip](https://github.com/gibahjoe/openapi-generat

[2021-09-12 11:08] gibahjoe commented on #56
let me know if you need further assistance

[2021-09-12 14:30] bobwith2bees commented on #56
Wow - thanks for the super-thorough follow up.   You even addressed the second issue I was seeing, but didn't ask!

[2021-09-12 15:07] bobwith2bees commented on #56
I added a label to my repo for completeness and updated the reproduction steps in case someone wants to reproduce it in the future.

You have me working with the workaround.   Do you need me to close the issue, or do you want to keep it open until the upstream fix is available?  Just let me know if you need anything on my side.  Thanks again!

[2021-09-12 16:02] gibahjoe commented on #56
No problem.

[2021-09-12 16:02] #56 closed

[2021-09-12 16:09] gibahjoe commented on #39
Closing this as no clear next steps

[2021-09-12 16:09] #39 closed

[2021-09-12 16:10] #49 closed

[2021-09-12 16:13] gibahjoe commented on #50
- `nullSafe` flag added to `DioAltProperties`
- `nullSafe-array-default` added to `DioAltProperties`
- Added dionext generator
- Bumped `dioAlt` version to 5.9

[2021-09-12 16:13] #50 closed

[2021-09-12 16:15] gibahjoe commented on #44
Closing this as there are no clear next steps. Feel free to open up

[2021-09-12 16:15] #44 closed

[2021-09-12 16:20] gibahjoe commented on #43
Sorry, I haven't had time to follow up on this.

Although I haven't tested myself, I think the latest versions of the library now support AnyOf types. You can check them out

But in the case they don't, You can use the typeMappings field of to change the types to dynamic.

in your case, it will be like below

[code]

I am closing this now, anybody feel free to open if issues persist.

[2021-09-12 16:20] #43 closed

[2021-09-12 16:22] gibahjoe commented on #42
Unfortunately, this is a symptom of dart's dependency resolutions.

Using dependency overrides or upgrading all your libraries to the latest version should fix this.

Closing this for now, feel free to reopen.

[2021-09-12 16:22] #42 closed

[2021-09-12 16:23] gibahjoe commented on #54
Closing this. Feel free to reopen

[2021-09-12 16:23] #54 closed

[2021-09-12 16:25] gibahjoe commented on #41
closing this. Please feel free to reopen

[2021-09-12 16:25] #41 closed

[2021-09-12 16:28] mars3142 commented on #55
We generate with OpenAPI a JSON and this is converted into dart classes. Within the JSON we see a property "version", which can be set by the JSON creators. But I can't find any reference to this field within the dart code. That's why I asked, if it's possible to generate an info object with that version (and other data).

[2021-09-23 08:06] starction opened #57 "Null check operator used on a null value"
[code]

[2021-09-23 08:13] starction commented on #57
Found from changelog that I need to change Generator enum to lowercase.

[2021-09-23 10:10] #57 closed

[2021-09-23 10:23] starction opened #58 "Upgrade dio to 4.0.0"
Is it possible to upgrade dio to 4.0.0 anytime soon?

[2021-09-23 10:31] starction commented on #58
Found it :) `Generator.dioNext`

[2021-09-23 10:31] #58 closed

[2021-09-27 00:46] rockgecko-development commented on #41
Hi @alevinetx , I have added the option to generate mutable models in the `epam-cross-platform-lab/swagger-dart-code-generator` project, in this PR if you'd like to take a look or weigh in: https://github.com/epam-cross-platform-lab/swagger-dart-code-generator/pull/247

[2021-10-02 06:59] rvowles opened #59 "I've released 5.11 of the Dart OpenAPI generator"
There were some issues with 5.2.1 of the base generator in case you want to point release and embed.

[2021-10-28 20:39] Rexios80 opened #60 "Update openapi generator jar"
Version 5.3.0 of openapi generator released a few days ago. Can you update the bundled jar to match?

[2021-10-30 18:50] Rexios80 commented on #60
#61

[2021-11-03 17:46] jpunz opened #62 "Object as query parameter"
Hi,

just found an issue when using an Object as Query-Parameter.
When using e.g. swagger-codegen (Java), it's possible to do the following:

[code]

In this case e.g. Swagger uses all properties of SomeObjectDto as Query Parameter.

In your lib the toString-Method of each Object is used as query parameter. E.g.:
[code]

I think this should get corrected :)

Regards,
Jürgen

[2021-11-05 13:44] gibahjoe commented on #62
Hi @jpunz , Thank you for reaching out. However, this library is a wrapper around the dart implementation of the generator by [OpenApiTools](https://github.com/OpenAPITools/openapi-generator). You can raise with them [here](https://github.com/OpenAPITools/openapi-generator/issues/new/choose) for better support.

[2021-11-05 13:44] #62 closed

[2021-11-05 13:46] gibahjoe commented on #55
Hi, Please raise feature requests with the original author of the generator [here](https://github.com/OpenAPITools/openapi-generator/issues/new/choose)

[2021-11-05 13:46] #55 closed

[2021-11-06 17:48] gibahjoe commented on #60
This has been updated in pub.dev

[2021-11-06 17:48] #60 closed

[2021-11-06 17:48] gibahjoe commented on #59
This update has been made in v3.3.0

[2021-11-06 17:48] #59 closed

[2021-11-09 16:30] radikris commented on #53
@flodaniel , hi, could you find a proper way to solve this?

[2021-11-09 17:47] flodaniel commented on #53
Hey,
I moved away from the generator and now we use chopper only.

[2021-11-10 08:22] Chgocn opened #63 "How to change the library name with default 'openapi.api'"
Hi guy，thank for the awesome work.Now everything is work well except change the library name, also called package name.
I found the [issue](https://github.com/OpenAPITools/openapi-generator/issues/7764) and official doc for dart: https://openapi-generator.tech/docs/generators/dart/
then I use --additional-properties="pubName=my_library_name" in cli，**the name in pubspec.yaml is ok.but in the dart

[2021-11-11 06:41] Chgocn commented on #63
Solved. use pubLibrary work.
`--additional-properties="pubName=my_library_name,pubLibrary=my_library_name"`

[2021-11-11 06:41] #63 closed

[2021-12-01 23:45] torbenkeller commented on #54
I had the same problem. This solved it for me:

[code]

Now it rebuilds at least if I make a change in the file with the annotation

[2022-01-07 15:11] ChanakaWeerasinghe opened #64 "How to set bearer token to client"
Im trying to setup token to  api_client please help i cant find

`    _authentications['isOAuth'] = new OAuth("sdfd");
`

it will throw this
`        throw ArgumentError('Authentication undefined: $authName');
`

[code]

[2022-02-02 21:00] TamasBarta commented on #49
I think it would be helpful if it was documented in the getting started examples.

[2022-02-02 21:39] TamasBarta opened #65 "openapi.yaml is parsed as if it was a JSON"
I went through setting up the project, and tried to run the generator on a YAML file we have, and I get a bunch of JSON errors:

[code]

The original error messages contained almost the complete YAML, so I replaced those parts with "...".

The YAML file is recognized by other tools, it is formatted properly, but according to the error messages it is parsed as if it was a JSON file.

I added the `-

[2022-02-02 21:55] TamasBarta commented on #65
I found a workaround:

Specify the `openapi` version as `3.0.0`, because it checks for that instead of filename, or whatever to see if that's a YAML, otherwise its a JSON. 😂😂😂😂😂 I'm dead... 😂😂😂

I also realized that probably this project cannot do anything with it, so I'm closing the issue. Sorry to report it to the wrong place.

[2022-02-02 21:55] #65 closed

[2022-02-04 16:56] onurkaygisiz opened #66 "Api key in query not possible"
Hi,
I have an api, which requires the api key in the query, it does not accept an apikey in the headers:
[code]

but the generator DioNext generates no code, in which I can pass the api key in the query, only in the headers:
[code]
Here my configuration:
open api generator
[code]
and my pubspec.yaml

[code]

Is there a solution to this problem?
Thank you very much.

[2022-02-05 11:34] onurkaygisiz commented on #66
All right, I solved the issue by using the generator by OpenApiTools and using the Dart generator.

[2022-02-05 11:34] #66 closed

[2022-02-05 22:10] gibahjoe commented on #64
Your spec needs to have the security scheme defined first.

Then configure it using new Api().setOAuthToken();

[2022-02-15 10:35] vicdotdevelop opened #67 "Library seems broken on newest dart version"
Hey guys,

I wanted to try out your package as the CLI version of openapi gen does not support null-safety.
I have created a new class, added annotations, added all the dependencies-

When I run the build_runner it gives me the following error, which is not very helpful imo.
Any ideas ? seems to be related to library I guess.

Thank you in advance guys - cheers! 🚀

**Dart Version**
```Dart SDK ver

[2022-04-13 09:26] duck-dev-go commented on #67
The import gives the following warning

openapi_generator_annotations
package:openapi_generator_annotations/openapi_generator_annotations.dart

Support for doing something awesome.

More dartdocs go here.

The library 'package:openapi_generator_annotations/openapi_generator_annotations.dart' is legacy, and should not be imported into a null safe library.
Try migrating the imported library.dart(imp

[2022-04-13 14:37] WilkoThomassen opened #68 "How to set a custom serializer for a single type?"
The api client constructor gets generated as follows:

  ShuttelApiClient({
    Dio? dio,
    Serializers? serializers,
    String? basePathOverride,
    List<Interceptor>? interceptors,
  })  **: this.serializers = serializers ?? standardSerializers,**
        this.dio = dio ??
            Dio(BaseOptions(
              baseUrl: basePathOverride ?? basePath,
              connectTimeout: 5000,

[2022-05-03 04:04] domesticmouse opened #69 "AnyOf doesn't code generate correctly."
I have a OpenAPI spec that includes the following component that confuses the `openapi_generator` to no end:

[code]

This winds up with a `AnyOfstringinteger` which isn't generated.

[2022-05-03 04:06] domesticmouse commented on #69
The source of this appears to be: https://github.com/tiangolo/fastapi/pull/4806

[2022-05-09 12:18] roald-di opened #70 "Update dioAlt to 5.13"
They just published a new version of the generator, https://github.com/dart-ogurets/dart-openapi-maven#changelog.
Can you make a release with the new version?
I would make a PR but it requires updating the compiled jar file.

[2022-06-14 13:51] gboscaro-imtech opened #73 "Could not read enum instance of type Generator"
I am having this error and cannot generate anything:

**Could not read enum instance of type Generator.**

No idea of what is the problem.

Dart 2.17.1
openapi_generator: ^3.3.1
build_runner: ^2.1.11
openapi_generator_annotations: ^3.3.0

[2022-06-15 07:49] gboscaro-imtech commented on #73
I downgraded to Flutter 2, Dart 2.16.1, openapi_generator 3.3.0+1, but I still get the same error

[2022-06-17 21:20] danielv2 commented on #73
I'm having the same problem using the last version with flutter sdk 3.0.2

[2022-06-20 07:16] miladebadi commented on #73
Temporary fix:

[code]

flutter clean && flutter pub get

also change  generatorName: Generator.dioNext to  generatorName: Generator.dio (because of https://github.com/OpenAPITools/openapi-generator/pull/12258)

then run flutter pub run build_runner build

[2022-06-30 12:12] Liniik commented on #49
Why it isn't in the readme or mentioned in "depends on"?

[2022-07-11 05:08] atoka93 opened #76 "Version 4.0.0 not released"
The latest version on `master` for the `openapi-generator` package both in `CHANGELOG.md` and `pubspec.yaml` is `4.0.0` but the released version on [pub.dev](https://pub.dev/packages/openapi_generator) is the previous version `3.3.2`.

[2022-07-11 05:10] atoka93 commented on #76
A workaround:
[code]

[2022-07-11 06:58] gibahjoe commented on #76
Hi, version 4.0.0 release has been completed. All packages have been updated.

[2022-07-11 06:58] #76 closed

[2022-07-11 06:59] gibahjoe commented on #73
fixed in version 4.0.0

[2022-07-11 07:00] gibahjoe commented on #70
Released version 4.0.0

[2022-07-11 07:00] #70 closed

[2022-07-11 07:38] atoka93 commented on #76
Thank you!

[2022-08-30 05:17] NguyenVanCong1902 opened #77 "Deserialize Enum throw Error on response that was changed (added more Enum value)"
Hi, I'm using openapi-generator v4.0.0

I generated Classes with api-docs-file.yaml that contains these lines:
[code]

It work well if backend response data like:
`
{
    testEnum: 'TEST1'
}
`

But after backend adding new value to Enum (example TEST4), then response data like:
`
{
    testEnum: 'TEST4'
}
`

then below code (generated by openapi-generator v4.0.0) will throw Error because it can't

[2022-08-30 18:48] gibahjoe commented on #77
You have 2 options. Either you set the type of testEnum to string using the typeMapping

or

you add a custom deserializer to set the testEnum to null when an invalid field is encountered

[2022-08-30 23:48] NguyenVanCong1902 commented on #77
Thanks you, i will try the first option 😁

[2022-09-01 04:21] gibahjoe commented on #77
Alright

[2022-09-01 04:21] #77 closed

[2022-09-01 09:09] gboscaro-imtech commented on #69
I have the same problem. Any idea on how to fix this? I can do it manually as a temporary fix but I would like to have an example of how the code should look like.

[2022-10-02 22:54] filipagh opened #78 "Broken generated code location_inner"
HI base example of fastapi example generate broken code

api/lib/model/location_inner.dart

[code]

minimal schema example
[code]

[2022-11-04 07:57] mikthemonster opened #79 "Default value for DateTime to avoid nullable"
Im getting a lot of errors related to this issue:

`///
  /// Please note: This property should have been non-nullable! Since the specification file
  /// does not include a default value (using the "default:" property), however, the generated
  /// source code must fall back to having a nullable type.
  /// Consider adding a "default:" property in the specification file to hide this note.
  ///`

[2022-11-29 08:59] timsemmler opened #80 "Adding a custom header when fetching inputSpec via URL"
When fetching a input spec via URL it would be great if I could add custom headers.
I. E. Authorization headers. This way I could also fetch specs that are stored in private repos.